
@{
    ViewBag.Title = "OConfirm";
}

<h2>Confirm</h2>

<p>Are you sure to confirm the order?</p>
<a href="/Customer/FinallyConfirmed" class="btn btn-outline-success">Confirm</a>
<a href="/Customer/Cart" class="btn btn-outline-danger">Cancel</a>

