
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Login Page </title>
    
</head>
<body>
    <form method="post">
        <div class="container">
            <label>Username : </label>
            <input type="text" placeholder="Enter Username" name="Username">
            <br><br>
            <label>Password : </label>
            <input type="password" placeholder="Enter Password" name="Password">
            <br><br>
            <label>Type : </label>
            <select name="type">
                <option value="Admin">Admin</option>
                <option value="Resturant">Resturant</option>
                <option value="Employee">Employee</option>
            </select>
            <button type="submit">Login</button>
        </div>
    </form>
</body>
</html>

