
@{
    ViewBag.Title = "EmployeeRegistration";
}

<h2>Employee Registration</h2>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Login Page </title>

</head>
<body>
    <form method="post">
        <div class="container">
            <label>Name : </label>
            <input type="text" placeholder="Enter Name" name="Name"><br><br>
            <label>User Name : </label>
            <input type="text" placeholder="Enter Username" name="Username">
            <br><br>
            <label>Password : </label>
            <input type="password" placeholder="Enter Password" name="Password">
            <br><br>
            <button type="submit">Add</button>
        </div>
    </form>
</body>
</html>

